*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.alpha{
    width: 150%;
    height: 55%;
}
.alpha img{
    width: 100%;
    height: 100%;
}
.jason{
    width: 150%;
    height: 55%;
    background-image: url(image/20230906_164028.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.jason img{
    transform: translateY(-70px) translateX(-1200px);
    animation: name duration timing-function delay iteration-count direction fill-mode;
   animation: box 6s linear normal forwards infinite  ;
   /* transform: translateX(10px); */
}
.jason audio{
    /* visibility: hidden; */
}

@keyframes box{
    0%{
        transform: translate(0px 0px)  ;  
    }
    15%{
        transform: translate(950px ,-80px)  scale(90%) ;
        transition: 4s;
    }
    30%{
        transform: translate(1050px ,-300px) rotate(-10deg) ;
        transition: 4s;
    }
    55%{
        transform: translate(1150px, -350px) rotate(-10deg)  ;
        transition: 4s;
    }
    70%{
        transform: translate(1250px ,-400px ) scale(60%) rotate(-10deg)  ;
        transition: 4s;
    }
    85%{
        transform: translate(1350px ,-450px) scale(40%) rotate(-10deg) ;
        transition: 4s;
    }
    100%{
        transform: translate(1450px,-500px) scale(20%) rotate(-10deg) ;
        transition: 4s;
    }
}